<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayout.sm="column" fxLayout.xs="column" style="background-image: url(../assets/images/login-page.jpg); background-repeat: no-repeat; background-size: 100% 105%;">
    <div style="padding: 40px;">
      <div fxLayout="column" class="login-card">
        <mat-card class="example-card" method="post">
          <mat-toolbar class="title" color="primary">
            <span class="material-icons">login</span>Login</mat-toolbar>
                <div fxLayout="column" fxLayoutAlign="center center">
                  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                    <mat-icon><span class="material-icons">email</span></mat-icon>
                    <mat-form-field appearance="outline" class="example">
                      <mat-label>E - Mail</mat-label>
                      <input matInput type="email" pattern="[a-z0-9._%+-]+@[a-z]+\.[a-z]{2,}$" [formControl]="loginUserData.email" placeholder="E - Mail" required>
                      <mat-error *ngIf="loginUserData.email.invalid">{{getMessageEmail()}}</mat-error>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                    <mat-icon><span class="material-icons">vpn_key</span></mat-icon>
                    <mat-form-field appearance="outline" class="example">
                      <mat-label>Password</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" pattern="(?=.*\d)(?=.*[!()@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}" [formControl]="loginUserData.password" placeholder="Password" required>
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                      <mat-error *ngIf="loginUserData.password.invalid">{{getMessagePassword()}}</mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center" style="margin-bottom: 5px;">
                  <button mat-raised-button (click)="loginUser()" [disabled]="loginUserData.email.invalid || loginUserData.password.invalid" class="example-button">Login</button>
                </div>
                <p class="text" style="cursor: pointer;outline:none" routerLink="/register">New to OnCl? Create an Account</p>
        </mat-card>
      </div>
    </div>
  </div>