<mat-tab-group mat-align-tabs="center">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">filter_1</mat-icon>
            First Semester
        </ng-template>
        <!-- <app-home></app-home> -->
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">filter_2</mat-icon>
            Second Semester
      </ng-template>
      <!-- <app-home></app-home> -->
    </mat-tab>
  
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">filter_3</mat-icon>
            Third Semester
      </ng-template>
      <!-- <app-view></app-view> -->
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">filter_4</mat-icon>
            Fourth Semester
        </ng-template>
        <app-view></app-view>
    </mat-tab>
</mat-tab-group>