<div class="jumbo"
    fxLayout="column"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="start center" 
    fxLayoutGap="10px">
  
    <div fxFlex fxFlex.gt-sm="100%">
      <h1 style="font-weight: bold;font-size: x-large; text-align: center; margin-top: 20px; letter-spacing: 0.1em; font-family: 'Quicksand', sans-serif;">The Better Way to Find your Sessions...!</h1>
      <p style="font-size: large; text-align: center; letter-spacing: 0.1em; font-family: 'Neucha', cursive;">
        Type, Search & Learn. Here we provide you, The Semester Courses - recorded video sessions with detail info. i.e., by Topics covered 
        in the session, Faculty who taught that session, when that session held and source link for the session. You can search them by the 
        Course Name, Topics, Faculty Name, Date.<br></p>     
    </div>
</div>

<mat-button-toggle-group style="margin:20px" #group="matButtonToggleGroup">
  <mat-button-toggle style="color:white; background-color: black;" disabled>Table View</mat-button-toggle>
  <mat-button-toggle routerLink="/sessions-table-view" aria-label="Text align left">
    <mat-icon>table_chart</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle routerLink="/sessions-card-view" aria-label="Text align center">
    <mat-icon>view_agenda</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>

<div fxLayout="row" fxLayoutAlign="space-between center" style="margin: 20px; padding: 25px;">
  <span class="title">Your Sessions</span>
  <div fxLayoutGap="25px" style="padding-right: 3%;">
    <mat-form-field appearance="outline">
      <mat-label>Course Name</mat-label>
      <input matInput placeholder="Search by Course Name" type="text" [(ngModel)]="coname" (input)="Search()" #input>
      <mat-icon matSuffix>search</mat-icon>
      <mat-hint>You can use letters</mat-hint>
    </mat-form-field>
  </div>
</div>
<div *ngIf="sessions" style="margin-bottom: 50px;">
  <div *ngIf="length==0">
    <h1 style="text-align: center;font-weight:500;text-transform: uppercase;">No results found for "{{input.value}}"</h1>
  </div>
  <div *ngIf="length!=0" fxLayoutAlign="center">
    <table mat-table  [dataSource]="sessions" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="Course Name">
        <th mat-header-cell *matHeaderCellDef>Course Name</th>
        <td mat-cell *matCellDef="let row">{{ row.coursename }}</td>
      </ng-container>

      <ng-container matColumnDef="LTPS">
        <th mat-header-cell *matHeaderCellDef>LTPS</th>
        <td mat-cell *matCellDef="let row">{{ row.sessiontype }}</td>
      </ng-container>

      <ng-container matColumnDef="Topics Covered">
        <th mat-header-cell *matHeaderCellDef>Topics Covered</th>
        <td mat-cell *matCellDef="let row">{{ row.topicscovered }}</td>
      </ng-container>

      <ng-container matColumnDef="D&TOC">
        <th mat-header-cell *matHeaderCellDef>D&TOC</th>
        <td mat-cell *matCellDef="let row">{{ row.doc }}</td>
      </ng-container>

      <ng-container matColumnDef="URL">
        <th mat-header-cell *matHeaderCellDef>URL</th>
        <td mat-cell *matCellDef="let row">{{ row.url }}</td>
      </ng-container>

      <ng-container matColumnDef="Faculty Name">
        <th mat-header-cell *matHeaderCellDef>Faculty Name</th>
        <td mat-cell *matCellDef="let row">{{ row.facultyname }}</td>
      </ng-container>
      
      <ng-container matColumnDef="Faculty E - Mail">
        <th mat-header-cell *matHeaderCellDef>Faculty E - Mail</th>
        <td mat-cell *matCellDef="let row">{{ row.facultyemail }}</td>
      </ng-container>

      <ng-container matColumnDef="Platform">
        <th mat-header-cell *matHeaderCellDef>Platform</th>
        <td mat-cell *matCellDef="let row">{{ row.platform }}</td>
      </ng-container>

      <ng-container matColumnDef="Last Updated">
        <th mat-header-cell *matHeaderCellDef>Last Updated</th>
        <td mat-cell *matCellDef="let row">{{ row.date | date }}</td>
      </ng-container>

      <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="edit(row._id)">
            <mat-icon>create</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button class="view-all" (click)="delete(row._id)"><span class="material-icons">delete</span></button>
        </td>
      </ng-container>

      <ng-container matColumnDef="View">
        <th mat-header-cell *matHeaderCellDef>View</th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button class="view-all" (click)="view(row._id)"><span class="material-icons">visibility</span></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
  </div>
</div>

<div [hidden]="sessions" style="text-align: center;">
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>