<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3 class="font-weight-bold" style="font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: large;"> Explore </h3>
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/sessions-card-view">Course Sessions</a></li>
                        <li><a href="#">News & Announcements</a></li>
                        <li><a href="/timetable-table-view">Timetable & Schedule</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3 class="font-weight-bold" style="font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: large;"> Company </h3>
                    <ul>
                        <li><a href="#">Our Mission</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <img src="../assets/images/icon/whin.ico" style="width:30px; height: 30px; margin-right: 2px;">
                    <span class="font-weight-bold" style="font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: large;"> OnCl - Edu. Cloud </span>
                    <p>The OnCl - Edu. Cloud is an web application which works on providing the solutions in Education field to help the people. <br> The WhiN is parent organization (founded in 2020) of OnCl - Edu. Cloud.</p>
                </div>
                <div class="col item social"><a href="https://github.com/4akhilkumar" target="_blank"><i class="icon ion-social-github"></i></a><a href="https://t.me/#" target="_blank"><i class="fa fa-telegram"></i></a><a href="mailto:4akhilkumar@gmail.com" target="_blank"><i class="icon ion-email"></i></a><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></div>
            </div>
            <p (click)="telegram()" class="license">Made with ❤️ by @akhilkumar</p>
        </div>
    </footer>
</div>