<div id="carousel-example-1" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-1" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-1" data-slide-to="1"></li>
      <li data-target="#carousel-example-1" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block w-100" src="../assets/images/carousel/cimg1.webp"
            alt="First slide">
          <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption">
        </div>
      </div>
      <div class="carousel-item">
        <div class="view">
          <img class="d-block w-100" src="../assets/images/carousel/cimg2.webp"
            alt="Second slide">
          <div class="mask rgba-black-strong"></div>
        </div>
        <div class="carousel-caption">
        </div>
      </div>
      <div class="carousel-item">
        <div class="view">
          <img class="d-block w-100" src="../assets/images/carousel/cimg3.webp"
            alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption">
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<div class="text-center py-5" fxLayout="column" fxLayoutAlign="center center" fxLayout.sm="column" fxLayout.xs="column">
  <h1 class="title">Make Learning Easy With <img src="../assets/images/icon/whin.ico" style="width:50px; height: 50px;"> OnCl</h1>
</div>

<div class="cards">
  <div class="fewcards">
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around center">
      <div style="padding: 10px; outline: none;" tabindex="0">
        <mat-card routerLink="/sessions-card-view" class="example-card" style="background-color:white">
          <div fxLayout="column" fxLayoutAlign="center center">
            <div>
              <span style="font-size: 100px;" class="material-icons"> video_library </span>
            </div>
              <mat-card-header>
                <mat-card-title style="font-family: 'Fredericka the Great', cursive; font-weight: 600; letter-spacing: 0.08em;">Course Sessions E - Cloud</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p style="font-family: 'Short Stack', cursive;">
                  We help you in finding the session (recorded online classes). You can pick it easily. 
                  As we provided detail information regarding every session.
                </p>
              </mat-card-content>
          </div>
        </mat-card>
      </div>

      <div style="padding: 10px; outline: none;" tabindex="0">
        <mat-card routerLink="/na" class="example-card" style="background-color:white">
          <div fxLayout="column" fxLayoutAlign="center center">
            <div>
              <span style="font-size: 100px;" class="material-icons"> new_releases </span>
            </div>
              <mat-card-header>
                <mat-card-title style="font-family: 'Fredericka the Great', cursive; font-weight: 600; letter-spacing: 0.1em;">News & Announcements</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p style="font-family: 'Short Stack', cursive;">
                  Know what is going on...! Ah! We provide you info. regarding online competitve challenges, 
                Massive Open Online Courses (MOOCS), etc.
                </p>
              </mat-card-content>
          </div>
        </mat-card>
      </div>

      <div style="padding: 10px; outline: none;" tabindex="0">
        <mat-card routerLink="/timetable-table-view" class="example-card" style="background-color:white">
          <div fxLayout="column" fxLayoutAlign="center center">
            <div>
              <span style="font-size: 100px;" class="material-icons"> today </span>
            </div>
              <mat-card-header>
                <mat-card-title style="font-family: 'Fredericka the Great', cursive; font-weight: 600; letter-spacing: 0.1em;">Timetable & Schedule</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p style="font-family: 'Short Stack', cursive;">
                  We provide the academic time table based on your cluster in detail. You can easily understand 
              it as we display the difference among the classes.
                </p>
              </mat-card-content>
          </div>
        </mat-card>
      </div>

    </div>
  </div>
</div>  