<div style="padding-top: 50px; padding-bottom: 50px; padding-left: 10%; padding-right: 10%;">
    <div class="example-action-buttons">
        <button mat-raised-button style="background-color: black; color:white; margin-right: 5px;" (click)="accordion.openAll()">Expand All</button>
        <button mat-raised-button style="background-color: black; color:white;" (click)="accordion.closeAll()">Collapse All</button>
    </div>
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Session Details
            </mat-panel-title>
            <mat-panel-description>
              Type the course name, LTPS, topics, date of conduction & Shareable Link
              <mat-icon style="color: rgb(118, 233, 137);">class</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <div fxLayout="row" fxLayoutAlign=" start" fxLayoutGap="10px" fxLayout.sm="column" fxLayout.xs="column" >
          <mat-form-field>
            <mat-label>Course Name</mat-label>
            <mat-select [formControl]="formData.coursename">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let course of courses" [value]="course">{{course}}</mat-option>
            </mat-select>
            <mat-error *ngIf="formData.coursename.invalid">{{getErrorCourseName()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Session Type</mat-label>
            <mat-select [formControl]="formData.sessiontype">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let LTPS of sessiontype" [value]="LTPS">{{LTPS}}</mat-option>
            </mat-select>
            <mat-error *ngIf="formData.sessiontype.invalid">{{getErrorSessionType()}}</mat-error>
          </mat-form-field>
        </div>
      
        <div fxLayout="row" fxLayoutAlign=" start" fxLayoutGap="10px" fxLayout.sm="column" fxLayout.xs="column" >
          <mat-form-field>
            <mat-label>Topics Covered</mat-label>
              <input matInput type="text" [formControl]="formData.topicscovered" placeholder="Topics" required>
              <mat-error *ngIf="formData.topicscovered.invalid">{{getErrorTopics()}}</mat-error>
          </mat-form-field>

          <!-- <div fxLayout="row" fxLayoutAlign=" start" fxLayoutGap="10px" fxLayout.sm="column" fxLayout.xs="column" > -->
            <mat-form-field>
                <mat-label>Date of conduction</mat-label>
                <input matInput type="datetime-local" [formControl]="formData.doc" placeholder="Date of conduction" required>
                <mat-error *ngIf="formData.doc.invalid">{{getErrorDOC()}}</mat-error>
            </mat-form-field>
          </div>

          <mat-form-field>
            <mat-label>Session URL</mat-label>
              <input matInput type="url" [formControl]="formData.url" placeholder="Session Shareable Link" required>
              <mat-error *ngIf="formData.url.invalid">{{getErrorURL()}}</mat-error>
          </mat-form-field>
      
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Faculty Details
              </mat-panel-title>
              <mat-panel-description>
                Type the faulty name and required details who involved in this session
                <mat-icon style="color: #4285f4;">account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
        
            <mat-form-field>
              <mat-label>Faculty Name</mat-label>
              <input matInput type="text" [formControl]="formData.facultyname" placeholder="Faculty Name" required>
              <mat-error *ngIf="formData.facultyname.invalid">{{getErrorFacultyName()}}</mat-error>
            </mat-form-field>
        
            <mat-form-field>
              <mat-label>E - Mail</mat-label>
              <input matInput type="email" [formControl]="formData.facultyemail" placeholder="Faculty E - Mail" required>
              <mat-error *ngIf="formData.facultyemail.invalid">{{getErrorFacultyEMail()}}</mat-error>
            </mat-form-field>
        
          </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Platform
            </mat-panel-title>
            <mat-panel-description>
              Type the platform name on which the session held
              <mat-icon style="color: #F1615C;">cast_for_education</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <mat-form-field>
            <mat-label>Platform</mat-label>
            <mat-select [formControl]="formData.platform">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let Platform of Platform" [value]="Platform">{{Platform}}</mat-option>
            </mat-select>
            <mat-error *ngIf="formData.platform.invalid">{{getErrorPlatform()}}</mat-error>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
      <div fxLayout="row" fxLayoutAlign="end end" style="padding-top: 10px;">
        <button mat-raised-button style="margin: 10px 0px 10px 10px;" routerLink="/sessions-table-view">Return</button>
        <button mat-raised-button class="example-button" (click)="onSubmit()" [disabled]="formData.coursename.invalid || formData.sessiontype.invalid || formData.topicscovered.invalid || formData.doc.invalid || formData.url.invalid || formData.facultyname.invalid || formData.facultyemail.invalid || formData.platform.invalid">Modify</button>
    </div>
</div>